<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Ishimotto.Console.IshimottoSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <appSettings>
    <add key="DownloadDirectory" value="c:\Nugets"/>
    
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomBinding_IVsIdeService" maxReceivedMessageSize="4000000">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://visualstudiogallery.msdn.microsoft.com/Services/v2011/Extension.svc" binding="wsHttpBinding" bindingConfiguration="CustomBinding_IVsIdeService" contract="VsIdeServiceReference.IVsIdeService" name="CustomBinding_IVsIdeService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Ishimotto.Console.IshimottoSettings>
      <!-- Settings from AraiDownloader-->
      <setting name="DownloadDirectory" serializeAs="String">
        <value>C:\Nugets</value>
      </setting>
      <setting name="DeleteTempFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AriaLogPath" serializeAs="String">
        <value>C:\Nugets\AriaLog</value>
      </setting>
      <setting name="AriaLogLevel" serializeAs="String">
        <value>ERROR</value>
      </setting>
      <setting name="MaxConnections" serializeAs="String">
        <value>10</value>
      </setting>
      <!-- Settings for Log4Net-->
      <setting name="LoggerFileName" serializeAs="String">
        <value>"Logger.Config"</value>
      </setting>
      <!-- Settings for NuGet Querier-->
        
      <setting name="NuGetUrl" serializeAs="String">
        <value>http://www.nuget.org/api/v2/</value>
      </setting>
    </Ishimotto.Console.IshimottoSettings>
  </userSettings>
</configuration>