<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
<appSettings>
  <add key="downloadDirectory" value="c:\nuget"/>
  <add key="NuGetUrl" value="http://nuget.org/api/v2/package/"/>
  <add key="RemoteRepositoryUrl" value="https://packages.nuget.org/api/v2"/>
  
  <add key=""/>
</appSettings>
</configuration>
